.start-game {
  text-align: center;
  padding: 5% 0 2%;
  color: white;
  position: relative;
}

.start-game .row h1 {
  margin-bottom: 5%;
}

.selected-choice {
  border: solid 50px;
  border-radius: 50%;
  background-color: white;
  padding: 10% 0;
  width: 50%;
  margin: 0 auto;
}

.selected-choice img {
  width: 150px;
  height: 150px;
}

.selected-scissors {
  border-color: #ec9e0e !important;
}

.selected-rock {
  border-color: #dc2e4e !important;
}

.selected-paper {
  border-color: #4865f4 !important;
}

.results {
  position: absolute;
  top: 45%;
  left: 43%;
}

.results h1 {
  font-size: 65px;
  margin-bottom: 8%;
}

.play-again button {
  width: 100%;
  height: 50px;
}

.start-game .results .play-again button:hover {
  color: #dc2e4e;
}


@media (max-width: 360px) {
  .results {
    top: 60%;
    left: 22%;
  }
}

@media (min-width: 361px) and (max-width: 480px) {
  .results {
    top: 60%;
    left: 27%;
  }
}

@media (max-width: 480px) {
  .start-game {
    padding: 10% 2% 55%;
  }
  .row h1 {
    font-size: 18px;
  }
  .selected-choice {
    border: solid 20px;
    padding: 20% 0;
    width: 100%;
  }
  .selected-choice img {
    width: 60px;
    height: 60px;
  }
  .results h1 {
    font-size: 50px;
  }

}


@media (min-width: 481px) and (max-width: 768px) {
  .start-game {
    padding: 8% 0 32%;
  }
  .row h1 {
    margin-bottom: 8%;
  }
  .selected-choice {
    border: solid 30px;
    width: 70%;
    padding: 15% 0;
  }
  .selected-choice img {
    width: 80px;
    height: 80px
  }
  .results {
    top: 65%;
    left: 34%;
  }
}


@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .start-game {
    padding: 3% 0 4%;
  }
  .row h1 {
    font-size: 30px;
    margin-bottom: 5%;
  }
  .selected-choice {
    border: solid 20px;
    width: 50%;
    padding: 10% 0;
  }
  .selected-choice img {
    width: 50px;
    height: 50px;
  }
  .results {
    top: 50%;
    left: 38%;
  }
  .results h1 {
    font-size: 30px;
  }
  .play-again button {
    height: 40px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .start-game {
    padding: 5% 0 7%;
  }
  .selected-choice {
    border: solid 30px;
    width: 50%;
  }
  .selected-choice img {
    width: 90px;
    height: 90px;
  }
  .results {
    top: 45%;
    left: 38%;
  }
  .results h1 {
    font-size: 60px;
  }
  .play-again button {
    width: 240px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .start-game {
    padding: 5% 0 5%;
  }
  .selected-choice {
    width: 60%;
  }
  .results {
    top: 45%;
    left: 41%;
  }
  .results h1 {
    font-size: 65px;
  }
}
