.rules {
  text-align: center;
}

.rules .modal-button {
  width: 8%;
  position: relative;
  left: 40%;
}

.modal-header {
  border-bottom: none;
  padding-top: 5%;
}


.modal-header h1 {
  color: #3b4363;
  font-weight: 700;
  margin-left: 5%;
}

.modal-header .btn-close {
  position: relative;
  right: 7%;
}

.modal-body {
  padding-bottom: 8%;
}

@media (max-width: 360px) {
  .modal-body img {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .rules .modal-button {
    left: 0;
    width: 35%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .rules .modal-button {
    left: 0;
    width: 20%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .rules .modal-button {
    left: 35%;
    width: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .rules .modal-button {
    width: 15%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .rules .modal-button{
    width: 12%;
  }
}
